{% extends "plans/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block head %}
<h1> Reset Password </h1>
{% endblock %}
{% block content %}
  <div class="card inner-card" style="width:50%;margin:auto;margin-top:100px;">
      <div class="card inner-card" style="padding:10px;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="height:50%;">
            <legend class="border-bottom mb-4">Reset Password</legend>
            Enter your email: {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
  </div>
      </div>

{% endblock content %}