{% extends "plans/base.html" %}
{% load static %}
{% load friendshiptags %}
{% load filters %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
$('.dropdown-menu').click(function(e) {
    e.stopPropagation();
    if ($(e.target).is('[data-toggle=modal]')) {
        $($(e.target).data('target')).modal()
    }
});
</script>

<h2 align="center"> PLACES I'VE BEEN </h2>
<div class="card outer-card" >
    <form method="POST">
        {% csrf_token %}
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
      <div class="container mb-3">

            <div class="mb-3" style="display:flex;flex-wrap:wrap;justify-content:space-between;">

    <!--dropdown Asia-->
                <div class="dropdown p-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Asia
                    </button>
                        <div class="dropdown-menu scrollable-menu">{{form.asian_countries}}</div>
                </div>

    <!--dropdown Europe-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Europe
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.european_countries}}</div>
                </div>

    <!--dropdown Ocenia-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oceania
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.oceania_countries}}</div>
                </div>

    <!--dropdown Africa-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Africa
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.african_countries}}</div>
                </div>


    <!--dropdown America South-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    South America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.south_american_countries}}</div>
                </div>


    <!--dropdown America North-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    North America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.north_american_countries}}</div>
                </div>


    <!--dropdown Antarctica-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Antarctica
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.antarctic_countries}}</div>
                </div>

            </div>

    <!--Form Button-->

            <div style="display:flex;flex-wrap:wrap;justify-content:center;" class="button">

                <button type="submit" class="btn btn-secondary btn-lg ">Save countries visited</button>

            </div>
        <!--form -->
      </div>
  </div>
  {% if countries_visited %}
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
     <div class="dropdown p-1" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Select cities you visited
        </button>
        <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenu2" >
           {% for country_name, country_variable in country_names_map.items %}
           {% if country_name in countries_visited %}
           <button type="button" class="btn btn-secondary dropdown-item country-visited" data-toggle="modal" data-target=#{{country_name}}>{{country_name}}</button>
            {% endif %}
            {% endfor %}
        </div>
     </div>

     {% for country_name, country_variable in country_names_map.items %}
        {% if country_name in countries_visited %}
      <!-- Modal -->
        {% csrf_token %}
        <div class="modal" id={{country_name}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cities visited - {{country_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="overflow-y:scroll;max-height:600px;">
              {{cities_visited_form|get_dict_item:country_variable}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      {% endif %}
      {% endfor %}
  </div>
  {% endif %}
 </form>

  <div class="main inner">
      <iframe style="height:600px !important;" class="embed-responsive-item" src="{% static 'user_maps/static_map.html' %}" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}