{% extends "plans/base.html" %}
{% load static %}
{% load friendshiptags %}
{% load filters %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
// Script that, whenever a value is chosen from the 'Select a coutnry you visited' drop-down menu is sleected
// fills the below menu, initially empty, with corresponding cities
    $(function() {
        $(document).ready(function() {

            $('.dropdown-item.country-visited').click(function() {
                // alert($(this).attr("value"));
                var selected_country = $(this).attr("value");
                console.log(selected_country);
                //dropdown_two_by_id = $( "#id_" + selected_country + );
                dropdown_two_by_id = document.getElementById(selected_country);
                console.log(dropdown_two_by_id);
                dropdown_two_by_id.style.visibility = "visible";
            });
        });

    });
</script>

<h2 align="center"> PLACES I'VE BEEN </h2>
<div class="card outer-card" >
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
      <div class="container mb-3">
          <form method="POST">
        {% csrf_token %}
            <div class="mb-3" style="display:flex;flex-wrap:wrap;justify-content:space-between;">

    <!--dropdown Asia-->
                <div class="dropdown p-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Asia
                    </button>
                        <div class="dropdown-menu scrollable-menu">{{form.asian_countries}}</div>
                </div>

    <!--dropdown Europe-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Europe
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.european_countries}}</div>
                </div>

    <!--dropdown Ocenia-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oceania
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.oceania_countries}}</div>
                </div>

    <!--dropdown Africa-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Africa
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.african_countries}}</div>
                </div>


    <!--dropdown America South-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    South America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.south_american_countries}}</div>
                </div>


    <!--dropdown America North-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    North America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.north_american_countries}}</div>
                </div>


    <!--dropdown Antarctica-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Antarctica
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.antarctic_countries}}</div>
                </div>

            </div>

    <!--Form Button-->

            <div style="display:flex;flex-wrap:wrap;justify-content:center;" class="button">

                <button type="submit" class="btn btn-secondary btn-lg ">Update countries visited</button>

            </div>
        </form>
      </div>
  </div>
  {% if countries_visited %}
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
     <div class="dropdown p-1" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Select a country you visited
        </button>
        <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenu2" >
           {% for country_visited in countries_visited %}
           <button name="selected-country" class="dropdown-item country-visited" value="{{country_visited}}">{{country_visited}}</button>
           {% endfor %}
        </div>
     </div>
     {% if cities_visited_form %}
         <br/>
        <form method="POST">
         {% for country_name, country_variable in country_names_map.items %}
            {% if country_name in countries_visited %}
            {% csrf_token %}
                <div>
                    <div class="dropdown p-1 hidden" id={{country_name}} style="visibility:hidden;">
                        <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ country_name }}
                        </button>
                        <div  class="dropdown-menu scrollable-menu">{{cities_visited_form|get_dict_item:country_variable}}</div>
                    </div>
                </div>
          {% endif %}
        {% endfor %}
        </form>
    {% endif %}


  </div>
  {% endif %}
  <div class="main inner">
      <iframe style="height:600px !important;" class="embed-responsive-item" src="{% static 'user_maps/static_map.html' %}" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}