{% extends "plans/base.html" %}
{% load static %}
{% load friendshiptags %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    var test = ""
    $(document).ready(function() {
        $('.dropdown-item').click(function() {
            // alert($(this).attr("value"));
            var selected_country = $(this).attr("value");

            // console.log(selected_country);
        });
    });
    console.log(test)
    console.log(selected_country);
    $(function() {
        $(document).ready(function() {
            $('.dropdown-item').click(function() {
                // alert($(this).attr("value"));
                var selected_country = $(this).attr("value");

                // console.log(selected_country);

                $.getJSON("{% static 'user_maps/cities_by_country.json' %}", function(data) {

                    var selected_value = $dropdown.val();
                    var vals = [];

                    $.each( data, function( key, val ) {
                        if (key == selected_country) {
                            vals.push( val );
                        }
                    });
                    console.log(vals);

                    var $jsontwo = $("#json-two");
                    $jsontwo.empty();
                    $.each(vals, function(index, value) {
                        console.log("appending this")
                        console.log(value);
                        $.each(value, function(index, element) {
                            console.log("appending this")
                            console.log(element);
                            $jsontwo.append("<option>" + element + "</option>");
                        });
                    });
                });
            });
        });

    });
</script>

<h2 align="center"> PLACES I'VE BEEN </h2>
<div class="card outer-card" >
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
      <div class="container mb-3">
          <form method="POST">
        {% csrf_token %}
            <div class="mb-3" style="display:flex;flex-wrap:wrap;justify-content:space-between;">

    <!--dropdown Asia-->
                <div class="dropdown p-1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Asia
                    </button>
                        <div class="dropdown-menu scrollable-menu">{{form.asian_countries}}</div>
                </div>

    <!--dropdown Europe-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Europe
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.european_countries}}</div>
                </div>

    <!--dropdown Ocenia-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oceania
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.oceania_countries}}</div>
                </div>

    <!--dropdown Africa-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Africa
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.african_countries}}</div>
                </div>


    <!--dropdown America South-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    South America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.south_american_countries}}</div>
                </div>


    <!--dropdown America North-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    North America
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.north_american_countries}}</div>
                </div>


    <!--dropdown Antarctica-->

                <div class="dropdown p-1">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Antarctica
                    </button>
                        <div  class="dropdown-menu scrollable-menu">{{form.antarctic_countries}}</div>
                </div>

            </div>

    <!--Form Button-->

            <div style="display:flex;flex-wrap:wrap;justify-content:center;" class="button">

                <button type="submit" class="btn btn-secondary btn-lg ">Submit & Show Map </button>

            </div>

        </form>
      </div>
  </div>
  <div class="main inner" style="border-bottom:none !important; border-left:none !important; border-right:none !important;">
      <form method="POST">
        {% csrf_token %}
            {% if countries_visited %}
            <div>
                <div class="dropdown p-1" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a country you visited
                    </button>
                    <div class="dropdown-menu" id="options" aria-labelledby="dropdownMenu2" >
                        {% for country_visited in countries_visited %}
                        <button class="dropdown-item" type="button" value="{{country_visited}}">{{country_visited}}</button>
                        {% endfor %}
                    </div>
                        <div class="dropdown-menu scrollable-menu">{{visited}}</div>
                </div>
                <select class="dropdown jquery" id="json-one">
                    <option selected value="base">Please Select</option>
                    {% for country_visited in countries_visited %}
                        <option value="{{country_visited}}">{{country_visited}}</option>
                    {% endfor %}
                </select>
                <br/>

                <select id="json-two">
                    <option>Please choose from above</option>
                </select>
            </div>
            {% endif %}
      </form>
  </div>
  <div class="main inner">
      <iframe style="height:600px !important;" class="embed-responsive-item" src="{% static 'user_maps/static_map.html' %}" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}