{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- To load static CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'plans/main.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/input-group/">
    <title>Holiday Planner - {% block title %}{% endblock %} </title>

  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link
  rel="stylesheet"
  href="https://unpkg.com/simplebar@5.1.0/dist/simplebar.css"
/>
<script src="https://unpkg.com/simplebar@5.1.0/dist/simplebar.min.js"></script>
<!-- or -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/simplebar@5.1.0/dist/simplebar.css"
/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@5.1.0/dist/simplebar.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img class="img-fluid mr-3" alt="Responsive image" src="{% static 'plans/pin_icon.svg' %}" style="width:40px">
  <a class="navbar-brand" href="{% url 'plans-home' %}">Holiday Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'plans-home' %}">Overview<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        My Holiday Plans
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'plans-done' %}">See plans</a>
        <a class="dropdown-item" href="{% url 'plan-create' %}">New plan</a>
      </div>
     </li>

      </ul>
    {% else %}
    <ul class="navbar-nav mr-auto"></ul>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="navbar-nav mr-4" style="position:relative;">
      <a class="nav-item dropdown mr-4" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" data-reference="parent"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2" style="position:absolute !important;">
          <a class="dropdown-item" href="{% url 'profile' %}">Personal Info</a>
          <a class="dropdown-item" href="{% url 'friends_overview' %}">Friends</a>
        </div>
      </a>
    </div>
    <div>
      <a class="nav-item mr-4" href= "{% url 'logout' %}">Log out</a>
      <a class="nav-item mr-4" href = "mailto: sample-mail@hotmail.com">Contact us</a>
    </div>
    {% else %}
    <ul></ul>
      <a class="nav-item mr-4" href= "{% url 'login' %}">Log in</a>
      <a class="nav-item mr-4" href = "{% url 'register' %}">Register</a>
    <a class="nav-item mr-4" href = "mailto: sample-mail@hotmail.com">Contact us</a>
    {% endif %}

  </div>
</nav>

<div id="content">
  {% if messages %}
    {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content%}

</div>
     </body>
</html>
