{% extends "plans/base.html" %}
{% load static %}
{% load friendshiptags %}
{% block title %}Home{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="card outer-card">
<div class="row">
  <div class="side">
    <div style="display:flex;justify-content:space-between;">
    <a class="title" style="margin-right:auto;" href="{% url 'friendship_view_friends' user.username%}">FRIENDS</a>
    <a class="btn btn-primary" href="{% url 'friendship_view_users' %}"
       style="height:20px;width:30px;padding:0px;font-size:0.7rem;margin-left:auto;align-self:center;">+</a>
      </div>
    <div style="height:46%;border:2px solid;border-color:white !important;">
    {% if friends %}
      {% for friend in friends %}
      <li>
        <p class="white_text">
          <img class="rounded-circle account-img small" style="margin-bottom:0px;" src="{{ user.profile.image.url }}">
          <a href="#" style="color:white;color:hover:white;">{{ friend }}</a>
        </p>
      </li>
      {% endfor %}
    {% else %}
      <p class="white_text">YOU HAVEN'T ADDED ANY FRIENDS YET</p>
    {% endif %}
      </div>


  </div>
  <div class="main">
    <div class="main inner">
      <a class="title" href="#">PLACES I WANT TO VISIT</a>
      <iframe class="embed-responsive-item" src="{% static 'plans/static_map.html' %}" allowfullscreen></iframe>
    </div>
    <div class="main inner">
      <a class="title" href="#">PLACES I'VE BEEN</a>
      <iframe style="width:900px; height:900px;" class="embed-responsive-item" src="{% static 'plans/static_map.html' %}" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div>

{% else %}
<h1 style="color:white;">HOME!</h1>
{% endif %}
{% endblock %}