{% extends "plans/base.html" %}
{% block title %}My Plans{% endblock %}
{% block head %}
<!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date  -->
<h1> My Plans</h1>>
{% endblock head%}
{% block content %}
  <div style="padding:100px">
    {% for plan in plans %}
    <div id="outer-card" class="card">
        <div class="card" id="inner-card">
          <h5 class="card-header">{{ plan.title}}</h5>
          <div class="card-body">
            <p class="card-text">{{ plan.content}}</p>
            <p class="text-muted">Created by {{ plan.author }} on {{ plan.date_posted | date:"d M Y H:i"}}</p>
            <a href="#" class="btn btn-primary">See Details</a>
          </div>
        </div>
    </div>
    {% endfor %}

  </div>
{% endblock content%}
