{% extends "plans/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block head %}
<h1> Register </h1>
{% endblock %}
{% block content %}
  <div class="card" id="outer-card">
    <div class="card" id="inner-card" style="padding:10px;">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="height:50%;">
            <legend class="border-bottom mb-4">New plan</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}