{% extends "plans/base.html" %}
{% block title %}My Plans{% endblock %}
{% block head %}
<h1> My Plans</h1>>
{% endblock head%}
{% block content %}
  <div style="padding:100px">
    {% for plan in plans %}
    <div class="card" style="float:none;padding:25px;background-color:#232323;border-color:#232323">
        <div class="card" style="float:none;background-color:#353535;color:white">
          <h5 class="card-header">{{ plan.title}}</h5>
          <div class="card-body">
            <p class="card-text">{{ plan.content}}</p>
            <p class="card-text">Created by {{ plan.author }} on {{ plan.date_posted}}</p>
            <a href="#" class="btn btn-primary"
               style="background-color:#00eb9c; border-color:#00eb9c; color:black">See Details</a>
          </div>
        </div>
    </div>
    {% endfor %}

  </div>
{% endblock content%}
