h1{
  color:orange !important;
  padding:left !important;
  padding:22px;
}
h2{
  color: white !important;
  padding:20px;
}

.title{
  color:orange !important;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2;
}

.title:hover{
  color:orange;
}

.white_text{
  color:white !important;
}

ul ul {
  color:white !important;
}

.white_text:hover{
  color:white !important;
}

.rounded-circle.account-img.small{
  height:60px;
  width:60px;
}

body {
  background-color: #232323 !important;
  height: 80% !important;
  margin-bottom:0px !important;
}

.navbar-brand{
  color: white !important;
}

.nav-item:{
  color: #343a40 !important;
}
li.nav-item::marker:{
  color: #343a40 !important;
}

#navbar-link{
  color:white;
}

#navbarDropdown{
  color: white;
}

.nav-item.mr-4{
  color: white;
}

.nav-item.mr-4:hover{
  color: white;
}

.dropdown-menu.show{
  background-color: #343a40;
  border-color: #00eb9c;
}

.dropdown-item{
  color: white !important;
}
.dropdown-item:hover{
  color: black !important;
}

.dropdown.jquery{
  background-color: #343a40;
  border-color: #00eb9c;
  color: #00eb9c;
}

.dropdown.jquery:hover{
  background-color: #343a40;
  color:white;
}

.dropdown.jquery{
  background-color: #343a40;
  border-color: #00eb9c;
}

card{
  border-color: #232323 !important;
}

.card.outer-card{
  margin-right:20px;
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;
  background-color: #232323;
  border-color: #232323 !important
}

.card.outer-card.main-container{
  display: flex;
  width: 50%;
  height: 75%;
  max-height: 75%;
}

.card.outer-card.half-container{
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  max-width: 100%;
  background: #0BDA51;
  border: 1px solid red;
  padding: .5em;
  overflow: hidden;
}

#inner-card{
   float: none;
   background-color: #343a40;
   color: white;
   border-color: #343a40 !important;
}

.card-title{
  color: #E69500;
}

.btn-primary{
  background-color: #343a40 !important;
  border-color: #00eb9c !important;
  color: #00eb9c !important;
}

.btn-secondary{
  background-color: #343a40 !important;
  border-color: #00eb9c !important;
  color: #00eb9c !important;
}

.btn-outline-info{
  background-color:#343a40 !important;
  border-color:#00eb9c !important;
  color:#00eb9c !important;
}

.btn:hover{
  border-color: #FFC65E !important;
}

.btn-info{
  background-color: #00eb9c !important;
  border-color: #00eb9c !important;
  color:#343a40 !important;
}

.btn-info:hover{
  color: #343a40 !important;
}

.btn-link{
   color:white !important;
}

label{
  color: white;
}

.helptext{
  color: #6c757d !important;
}

.colored-link{
  color: white;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* Column container */
.row.home {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side.home {
  flex: 25%;
  background-color: #232323;
  padding: 20px;
  border:1px solid !important;
  border-color:#00eb9c !important;
}

/* Main column */
.main.home {
  flex: 75%;
  background-color: #232323;
  border:1px solid !important;
  border-color:#00eb9c !important;
  flex-wrap: wrap;
}

/* Column container */
.row.friends {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side.friends {
  flex: 60%!important;
  background-color: #232323;
  padding: 20px;
  border:1px solid !important;
  border-color:#00eb9c !important;
}

/* Main column */
.main.friends {
  flex: 40% !important;
  background-color: #232323;
  border:1px solid !important;
  border-color:#00eb9c !important;
  flex-wrap: wrap;
}

.main.inner {
  background-color: #232323;
  border:1px solid !important;
  border-color:#00eb9c !important;
  padding:20px;
  height:50%;
}



iframe {
  margin-top:10px;
  height: 350px !important;
  width: 100% !important;
  overflow: hidden !important;
}

.simplebar-scrollbar::before {
  background: orange !important;
}

.scrollable-menu {
    width: 350px;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}




